In [228]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression # Machine Learning
from sklearn.metrics import mean_squared_error # Loss Function
from sklearn.linear_model import Lasso # Regularization
from sklearn.linear_model import Ridge # Regularization
import pickle

In [229]:
df = pd.read_parquet('./data/yellow_tripdata_2022-01.parquet')
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463926,2,2022-01-31 23:36:53,2022-01-31 23:42:51,NaN,1.32,NaN,None,90,170,0,8.00,0.0,0.5,2.39,0.0,0.3,13.69,NaN,NaN
2463927,2,2022-01-31 23:44:22,2022-01-31 23:55:01,NaN,4.19,NaN,None,107,75,0,16.80,0.0,0.5,4.35,0.0,0.3,24.45,NaN,NaN
2463928,2,2022-01-31 23:39:00,2022-01-31 23:50:00,NaN,2.10,NaN,None,113,246,0,11.22,0.0,0.5,2.00,0.0,0.3,16.52,NaN,NaN
2463929,2,2022-01-31 23:36:42,2022-01-31 23:48:45,NaN,2.92,NaN,None,148,164,0,12.40,0.0,0.5,0.00,0.0,0.3,15.70,NaN,NaN
2463930,2,2022-01-31 23:46:00,2022-02-01 00:13:00,NaN,8.94,NaN,None,186,181,0,25.48,0.0,0.5,6.28,0.0,0.3,35.06,NaN,NaN

In [230]:
#Q1
#Number of columns
columncount=len(df. columns)
columncount

19

In [231]:
#Number of rows
rowcount=len(df)
rowcount

2463931

In [232]:
#Q2_standard deviation of trip duration

df.tpep_pickup_datetime= pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime= pd.to_datetime(df.tpep_dropoff_datetime)

df['duration']=df.tpep_dropoff_datetime-df.tpep_pickup_datetime 
df.duration=df.duration.apply(lambda td: td.total_seconds()/60)

df

std_deviation = df['duration'].std()
std_deviation

46.44530513776499

In [233]:
#filteration

df = df[(df.duration >= 1) & (df.duration <= 60)]

rowcount_afterfilter=len(df)

rowcount_afterfilter

2421440

In [234]:
#Q3

(rowcount_afterfilter/rowcount)*100

98.27547930522405

In [235]:
##Q4

categorical=['PULocationID','DOLocationID']

df[categorical] = df[categorical].astype(str)

train_dicts = df[categorical].to_dict(orient='records')
dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)

X_train

C:\Users\s_nejads\AppData\Local\Temp\ipykernel_16104\2568851735.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[categorical] = df[categorical].astype(str)

<2421440x515 sparse matrix of type '<class 'numpy.float64'>'
	with 4842880 stored elements in Compressed Sparse Row format>

In [236]:
#Q5_RMSE on train data

target = 'duration'
y_train=df[target].values

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_train)

mean_squared_error(y_train, y_pred, squared=False)

6.986190135968308

In [239]:
def read_dataframe(filename):
    
    df = pd.read_parquet(filename)

    df.tpep_pickup_datetime= pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime= pd.to_datetime(df.tpep_dropoff_datetime)

    df['duration']=df.tpep_dropoff_datetime-df.tpep_pickup_datetime 
    df.duration=df.duration.apply(lambda td: td.total_seconds()/60)

    df = df[(df.duration >= 1) & (df.duration <= 60)]

    categorical=['PULocationID','DOLocationID']

    df[categorical] = df[categorical].astype(str)
    
    return df

In [240]:
df_train=read_dataframe('./data/yellow_tripdata_2022-01.parquet')
df_val=read_dataframe('./data/yellow_tripdata_2022-02.parquet')

In [241]:
len(df_train), len(df_val)

(2421440, 2918187)

In [242]:
categorical=['PULocationID', 'DOLocationID']

dv = DictVectorizer()

train_dicts = df_train[categorical].to_dict(orient='records')
X_train = dv.fit_transform(train_dicts)

val_dicts=df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dicts)

In [243]:
target = 'duration'
y_train=df_train[target].values
y_val=df_val[target].values

In [244]:
#Q6_RMSE on validation data

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_val)

mean_squared_error(y_val, y_pred, squared=False)

7.786389501452263